#chat-screen {
  height: 80vh;
  background: url(https://previews.123rf.com/images/pk55/pk551703/pk55170300110/74772240-%EC%9B%90%ED%99%9C%ED%95%9C-%EB%8B%A4%EC%B1%84%EB%A1%9C%EC%9A%B4-%EB%B9%85%ED%86%A0%EB%A6%AC%EC%95%84-%EB%B2%BD%EC%A7%80%EC%9E%85%EB%8B%88%EB%8B%A4-.jpg);
  background-size: cover;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.8);
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 90px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message-row__author {
  margin-bottom: 5px;
  display: block;
}

.message-row__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message-row__info {
  display: flex;
  align-items: flex-end;
}

.message-row__time,
.message-row__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-row__bubble {
  background-color: #db9c5e;
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0;
  margin-left: 5px;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.message-row__content--sametime {
  margin-left: 65px;
  margin-bottom: 50px;
}

.message-row__time--sametime {
  opacity: 0;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: #db9c5e;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button :focus,
.reply__column button :active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 1s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
