.more-screen .icon-row {
  margin-top: 40px;
}

.more-suggestions {
  margin-top: 40px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
  justify-content: space-evenly;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon:hover {
  animation: more-suggestions__icon-ani 0.3s ease-in-out forwards;
}

@keyframes more-suggestions__icon-ani {
  from {
    transform: none;
  }

  to {
    transform: scale(1.2);
  }
}

.more-suggestions__image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  object-fit: cover;
}

.more-suggestions__image i {
  font-size: 32px;
  color: white;
}

.more-suggestions__icon-text {
  text-align: center;
}
