/*상단바 한 줄로 가게 정렬*/
.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  width: 100%;
  top: 0;
}

/*no service랑 와이파이 아이콘 간격-*/
.status-bar__column:first-child span {
  margin-right: 5px;
}

/*시계 가운데에 오게 정렬/ 컨테이너마다 중앙에 놓는 css hack*/
.status-bar__column {
  width: 33%;
  margin-right: 10px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*배터리 아이콘 사이 띄기*/
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
